@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-purple: #4c1d95;
    --color-orange: #ff9776;
    --color-light:#f1f5f9;
    --color-dark:#0d0950;
    --color-blue:#00539F;
    --color-gray: #a1a1a1;
    --color-white-tag:#f8fcfd;
    --spacing-5: 5px;
    --spacing-20: 20px;
}

.expanded {
    display: unset;
}
