---
const {id} = Astro.props
---
<div id={id} class="md:hidden pr-5 cursor-pointer">
    <span class="block w-10 h-5 mb-2.5 bg-brand"></span>
    <span class="block w-10 h-5 mb-2.5 bg-brand"></span>
    <span class="block w-10 h-5 mb-2.5 bg-brand"></span>
</div>

