---
import "../styles/global.css";
---

<div class="max-sm:hidden  text-purple dark:text-white w-full left-12 m-0 flex items-center justify-center">
    <a class="block font-bold hover:bg-orange focus:bg-orange uppercase text-center text-xl py-3.5 px-20" href="/">Home</a>
    <a class="block font-bold hover:bg-orange focus:bg-orange uppercase text-center text-xl py-3.5 px-20" href="/about/">About</a>
    <a class="block font-bold hover:bg-orange focus:bg-orange uppercase text-center text-xl py-3.5 px-20" href="/blog/">Blog</a>
    <a class="block font-bold hover:bg-orange focus:bg-orange uppercase text-center text-xl py-3.5 px-20" href="/tags/">Étiquettes</a>
</div>
